<div id="signupContainer">
  <form
    id="signupForm"
    name="signupForm"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>

    <div>
      <input
        required
        type='text'
        name="username"
        class="form-control"
        uib-tooltip="Username Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="6"
        ng-class="{
        'has-error': signupForm.username.$invalid,
        'has-success': signupForm.username.$valid,
        }"
        ng-model="signupCtrl.user.username"
        placeholder="Username">
    </div>

    <div>
      <input
        required
        type='text'
        name="email"
        class="form-control"
        uib-tooltip="Email Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-class="{
          'has-error': signupForm.email.$invalid,
          'has-success': signupForm.email.$valid,
        }"
        ng-model="signupCtrl.user.email"
        placeholder="Email">
    </div>

    <div>
      <input
        required
        type='password'
        name="password"
        class="form-control"
        uib-tooltip="Password Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="8"
        ng-class="{
          'has-error': signupForm.password.$invalid,
          'has-success': signupForm.password.$valid,
        }"
        ng-model="signupCtrl.user.password"
        placeholder="Password">
    </div>

    <div>
      <input type="submit" class="btn btn-default" value="Signup">
    </div>

  </form>
</div>
