<div id="loginContainer">
  <form
    id="loginForm"
    name="loginForm"
    ng-submit="loginCtrl.login()"
    novalidate>

    <div>
      <input
        required
        type='text'
        name="username"
        class="form-control"
        uib-tooltip="Username Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-model="loginCtrl.user.username"
        ng-minlength="3"
        ng-class="{
        'has-error': loginForm.username.$invalid,
        'has-success': loginForm.username.$valid,
        }"
        placeholder="Username">
    </div>

    <div>
      <input
        required
        type='password'
        name="password"
        class="form-control"
        uib-tooltip="Password Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'"
        ng-minlength="7"
        ng-class="{
        'has-error': loginForm.password.$invalid,
        'has-success': loginForm.password.$valid,
        }"
        ng-model="loginCtrl.user.password"
        placeholder="Password">
    </div>

    <div>
      <input type="submit" class="btn btn-default" value="Login">
    </div>

  </form>
</div>
